body{
    
   
    
    background: linear-gradient(to bottom, #9999ff 0%, #ffffff 100%);
}

.login {
    width: 300px;
    margin:auto; 
    border: 1.5px solid #383838;
    /* box-shadow: 10px 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
    box-shadow: -10px -10px 100px #ffffff41 ;
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 150px;
    background-color:white;
    background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxbz2H_3x6WqlrPW4WJk9zpegpHLuhFUtEgA&usqp=CAU');
    background-repeat: no-repeat;
    background-size:100% 40%;
    background-position: initial;
}

.login > input {
    
    border-radius: 8px;
    text-align: center;
    border: 1px solid #5a5c5e;
    outline: none;
    color: #1d2129be;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 62%;
    font-size: 1rem;
}

.login > .button {
    background: #47597e;
    border: 1px solid #e2e3e4;
    color: #fff;
    font-size: 1rem;
    padding: 0.3rem;
    margin-left: 10px;
    border-radius: 8px;
    width:70px;
    
    outline: none;
    cursor: pointer;
}

