.register {
    width: 400px;
    height:115vh;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxbz2H_3x6WqlrPW4WJk9zpegpHLuhFUtEgA&usqp=CAU');
    background-repeat: no-repeat;
    background-size:100% 45%;
    background-position: initial;
}

.register > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.register > .button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}